body {
    margin: auto;
    background-image: url('./background.png');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center center;
    width: 80%;
    padding: 5px;
    align-content: center;
}

.grid-container {
    font-family: 'Enriqueta', arial, serif;
    line-height: 1.25;
    font-size: 18px;
    background-color: gray;
    opacity: 0.9;
    border-radius: 40px;
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo album now-playing now-playing" "playlists playlists tracks tracks" "playlists playlists tracks tracks" "control_panel control_panel control_panel control_panel";
}

.logo {
    background-image: url('./multimedia.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px;
    grid-area: logo;
}

.album {
    background-image: url('./placeholder.png');
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: logo;
    background-size: 100px;
    grid-area: album;
}

.now-playing {
    grid-area: now-playing;
}

.tracks {
    display: grid;
    grid-template-columns: 50px, 400px 100px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "track_no track_title track_length" "track_no track_title track_length";
    grid-area: tracks;
}

.track_no {
    column-width: 50px;
    grid-area: track_no;
}

.track_title {
    grid-area: track_title;
}

.track_length {
    grid-area: track_length;
}

audio {
    position: absolute;
    width: 80%;
    bottom: 5%;
    grid-area: control_panel;
}

.playlists {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title" "playlist_name";
    grid-area: playlists;
    margin: 5px;
}

.title {
    display: inline-block;
    background-color: #CCC;
    opacity: 0.6;
    grid-area: title;
    height: 50px;
}

p {
    overflow: auto;
    margin: auto;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.playlist_name>p:nth-child(even) {
    grid-area: playlist_name;
    background-color: #CCC;
    opacity: 0.6;
}

.playlist_name>p:nth-child(odd) {
    grid-area: playlist_name;
    background-color: #FFF;
    opacity: 0.6;
}

button {
    outline: none;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: grey;
    font-size: 12px;
}

button:hover {
    background-color: teal;
    color: black;
}
