<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header>City news</header>
    <main>
        <posts id='posts'> Posts</posts>
        <nav>
            <button class='submit'>Submit a new post</button>
            <p>
                City News is the site edited by You! Fill it with latest news, events, places to go or anything you like
                in our city!
            </p>
        </nav>
        <script type="text/javascript" src="./index.js"></script>
    </main>
</body>

</html>