<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header>City news</header>
    <main>
        <posts> Posts</posts>
        <nav>
            <button>Submit a new post</button>
            <p>
                City News is a brand new webpage for exploring Budapest. You can easily get the latest news about
                transport, places to visit, or anything in connection with the city. Enjoy browsing and post your own
                news!
            </p>
        </nav>
        <script type="text/javascript" src="/js/index.js"></script>
    </main>
</body>

</html>