    body {
        margin: 0;
        background-color: grey;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }

    label {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: medium;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    h1 {
        font-size: large;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

    input {
        width: 100px;
        height: 15px;
        padding: 5px;
        border: 3px;
        border-style: solid;
        border-color: grey;
    }

    input:focus {
        width: 100px;
        height: 15px;
        padding: 5px;
        border: 3px;
        border-style: solid;
        border-color: green;
    }

    #button {
        height: 30px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }