    body {
        margin: 0;
        background-color: white;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
    }

    form>* {
        flex-direction: column;
       
    }

    input:focus {
        border: green;
    }

    input {
        background-color: white;
    }