<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie selector</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Movie selector</h1>
    <form action="/movies" method="GET">
        <select id="genre" required>
       <!--  <option value="" selected disabled hidden>Select a genre...</option> -->
        </select></div>
    </form>
    <form action="/movies" method="GET">
        <select id="titles" required>
            <option value="" selected disabled hidden>Select a movie...</option>
        </select></div>
    </form>
    <script src="index.js" type="text/javascript"></script>
</body>

</html>